



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #ffffff;
}





body {
  font-size: 1.6rem;
  background-color: #0C0F0F;
  font-family: 'Roboto', sans-serif;
}

/*
main{
  max-width: 90.612rem;
}



/* Home */

.cabecalho img {
  width: 100%;
}

nav ul {
  display: flex;
  gap: 4rem; 
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: white; 
  font-size: 1.4rem;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #aaa; 
  
}

h1{
  font-family: 'Roboto-Serif', serif;
  line-height: 2.5rem;
  margin-bottom: 4rem;

}

.cabecalho{
.digger{
  font-size: 10rem;
  margin-top: -15rem;
  height: 6,625rem;

  h1{
   font-size: 5rem;
  }
}

margin-bottom: 10rem;
}

.conflitos{
align-items: center;
justify-content: center;
display: flex ;
flex-direction: column;

h1{
  font-size: 5rem;
}
}

h1{
  font-family: 'Roboto-Serif', Serif;
  line-height: 2.5rem;
  margin-bottom: 4rem;

}

.partezinha{
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  padding-bottom: 5rem;
}

.nsei{
  display: flex;
  padding-top: 3rem;


  .regionais:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease;
  }



  .globais:hover {
    transform: scale(1.1); /* Slight zoom */
    transition: transform 0.3s ease;
  }
}




.nsei {
  img {
    filter: grayscale(100%);
    opacity: 0.5; /* começa com pouca opacidade */
    transition: opacity 0.3s ease;
  }

  img:hover {
    filter: grayscale(0%);
    opacity: 10; /* volta para normal no hover */
  }
}



/* Rodapé */

footer {
  background-color: #0e1312; 
  color: #ccc; 
  padding: 4rem 2rem;
  gap: 10rem;
  font-family: Arial, sans-serif;
}

footer .container {

  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  
  padding: 0 4rem; 
}

.footer-col {
  flex: 1;
  min-width: 25rem;
  padding-right: 2rem;
}

.footer-col img.logo {
  width: 8rem;
  margin-bottom: 1.5rem;
}

.footer-col h3 {
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.footer-col p {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #a0a0a0;
  margin-top: 1rem;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 0.8rem;
}

.footer-col ul li a {
  text-decoration: none;
  color: #a0a0a0;
  transition: color 0.2s ease-in;
}

.footer-col ul li a:hover {
  color: white;
}

.footer-bottom {
  border-top: 0.1rem solid #2a2a2a;
  margin-top: 3rem;
}


.regionais{
  text-align: center;
}

.globais{
  text-align: center;
}



.impactoconflitos{
text-align: center; 
background: #141A19;
height: 21.75rem;



  h2{
    padding-top: 2.5rem;
  }


}


.informacao{
  margin-bottom: 3rem;
  gap: 2rem;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  
 section{
  border-radius: 0.75rem;
  background: #212B2A;
  padding: 2rem;
 }

 .fdeslocados{
   width: 17.75rem;
 }

 .pafetadas{
  width: 17.75rem;
}

.cativos{
  width: 17.75rem;
}

.ieconomicos{
  width: 17.75rem;
}

.whatsapp{
  color: #16A34A;
}

.twitter{
  color: #2563EB;
}

.youtube{
  color: #DC2626;
}

}
